


<li class="btn btn-dark">
    <a class="btn btn-dark" style="color:gold" asp-area="" asp-controller="Drinks" asp-action="Add">Add New Item</a>
    </li>
    <li class="btn btn-dark">
        <a class="btn btn-dark" style="color:gold" asp-area="" asp-controller="CashRegister" asp-action="Index">Cash Register</a>
        </li>
        <li class="btn btn-dark">
            <a class="btn btn-dark" style="color:gold" asp-area="" asp-controller="Drinks" asp-action="Index">Drinks</a>
         </li>